mixin service(data)
  - list = data?.list || null

  .service
    .service__container
      .service__list
        if list && list.length
          each item, index in list
            - name = item?.name || `Service name #${index+1}`
            - image = item?.image || null
            - price = item?.price || 'от 999 руб. за 1 дм<sup>2</sup>'
            - link = item?.link || `uslugi-detail.html?id=${index+1}`
            .service-card.service__item
              .service-card__media
                a(href=link).service-card__clickable
                picture.service-card__picture
                  if image
                    img(src=image)
              .service-card__info
                .service-card__name=name
                .service-card__bottom
                  .service-card__price!=price
                  a(href=link).service-card__more Подробнее >>